button {
    padding: 10px;
    margin: 5px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculatorContainer {
    border: 3px solid rgba(1, 3, 0, 0.568);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 109, 3, 0.753);
}

#buttonsContainer {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#add, #subtract, #multiply, #divide, #equal {
    border-radius: 20px;
    background-color: rgba(245, 240, 240, 0.589);
    font-size: 30px;
    width: 50px;
}

#numbersContainer {
    border-radius: 20px;
    margin: 5px;
}

.btnNumbers {
    border-radius: 20px;
    background-color: rgba(245, 240, 240, 0.589);
}

#display {
    display: flex;
    border: 30px solid rgb(63, 97, 1);
    border-radius: 11px;
    padding: 40px;
    background-color: black;
    height: 80px;
}

#textFNumber, #textSNumber, #textOperator, #textEqual {
    margin: 10px;
    font-size: 50px;
    border: 1px solid black;
    color: rgb(146, 209, 52);
}
