button {
    padding: 10px;
    margin: 5px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculatorContainer {
    border: 3px solid rgba(1, 3, 0, 0.568);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 109, 3, 0.753);
}

#buttonsContainer {
    font-size: large;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
}

#add, #subtract, #multiply, #divide {
    border-radius: 20px;
}

#numbersContainer {
    align-self: flex-end;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    flex:1;
}

#displayAndNumContainer {
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    background-color: aliceblue;
}

.btnNumbers {
    border-radius: 20px;
}

#display {
    display: flex;
    flex-direction: column;
    border: 30px solid rgb(63, 97, 1);
    border-radius: 20px;
    padding: 40px;
    background-color: aliceblue;
}

#text {
    margin: 10px;
    font-size: 50px;
}
