button {
    padding: 10px;
    margin: 5px;
}
body {
    display: flex;
    flex-direction: column;
    margin: 200px;
    background-color: rgba(255, 60, 0, 0.514);
}

#calculatorContainer {
    align-self: center;
    border: 3px solid rgba(1, 3, 0, 0.568);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(72, 109, 3);
    width: 450px;
    height: 270px;
}

#buttonsContainer {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#add, #subtract, #multiply, #divide, #equal, #clearAll{
    border-radius: 20px;
    background-color: rgba(245, 240, 240, 0.589);
    font-size: 30px;
    width: 50px;
}

#clearAll {
    background-color: rgba(255, 166, 0, 0.849);
}

#numbersContainer {
    border-radius: 20px;
    margin: 5px;
}

.btnNumbers {
    border-radius: 20px;
    background-color: rgba(245, 240, 240, 0.589);
}

#display {
    display: flex;
    border-radius: 11px;
    padding: 30px;
    background-color: black;
    min-height: 60px;
    margin: 2px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#textFNumber, #textSNumber, #textOperator, #textResult, #title{
    font-family: 'MS Serif', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 2px;;
    color: rgb(146, 209, 52);
    white-space: nowrap;
    font-size: clamp(50px, 4vw, 28px);
}
