button {
    padding: 10px;
    margin: 5px;
}
body {
    display: flex;
    flex-direction: column;
}

#calculatorContainer {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    background-color: rgba(243, 94, 24, 0.774);
}

#buttonsContainer {
    font-size: large;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
}

#numbersContainer {
    align-self: flex-end;
    border: 2px solid black;
    margin: 5px;
    flex:1;
}

#display&NumContainer {
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    background-color: aliceblue;
    padding: 10px;
}

#display {
    border: 2px solid black;
    padding: 140px;
    margin: 5px;
    background-color: aliceblue;
}
